body {
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    padding: 1rem;
    overflow: hidden;
    font-variant-numeric: tabular-nums;
}

body section article {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

body section article button {
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
}

article#info-preview {
    border: 2px solid black;
    height: 500px;
    overflow-y: scroll;
}

.squarePlaceholder {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.squarePlaceholder #redSquare {
    width: 2.5rem;
    aspect-ratio: 1;
    flex-shrink: 0;
    background: red;
    transition: .15s ease translate, .15s ease background;
}

.squarePlaceholder #redSquare.jump {
    background: blue;
}